<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>


	<h1><%= @user.name %>,</h1> 
	bienvenido a la aplicación SocialWin Analytics.

	<p>Desde el equipo de SocialWin te agradecemos tu interés y esperamos que disfrutes de tu experiencia con nuestra aplicación.</p>

	<p>Así mismo, te invitamos a conocernos más de cerca participando en los comentarios de la aplicación o siguiendo nuestro foro de noticias.</p> 

    <p>Edit Profile: <%= edit_user_url(@user, :host => ENV["DOMAIN"]) %></p>
    
    <p>	Saludos!
		Fran J Martinez
	</p>
  </body>
</html>
